.body {
  font-family: "Syne", sans-serif;
  background-color: black;
}

/* .container {
  max-width: 1264px;
} */

/*bg & color*/
.bg-grey {
  background-color: #1a1a1a !important;
}

.bg-blue {
  background-color: #0147ff !important;
}

.bg-light-grey {
  background-color: #dedee0;
}

.bg-linear-blue {
  background: linear-gradient(
    84.77deg,
    #0147ff 1.59%,
    rgba(1, 71, 255, 0) 121.45%
  );
}

.bg-linear-grey {
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 0) 0%,
    rgba(26, 26, 26, 0.538) 37.4%,
    #1a1a1a 100%
  );
}

.bg-linear-blue-light {
  background: linear-gradient(
    84.82deg,
    #0147ff 15.74%,
    rgba(1, 71, 255, 0) 204.53%
  );
}

.bg-dark {
  background-color: #1c1a1a !important;
}

.text-dark {
  color: #1c1a1a !important;
}

/*font-size*/
.font-200 {
  font-size: 200px;
}

.font-100 {
  font-size: 100px;
}

.font-50 {
  font-size: 50px;
}

.font-40 {
  font-size: 40px;
}

.font-25 {
  font-size: 25px;
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

/*margin & padding*/
.mb-230 {
  margin-bottom: 230px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mt-170 {
  margin-top: 170px;
}

.mb-166 {
  margin-bottom: 166px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ms-53 {
  margin-left: 53px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-30 {
  margin-bottom: 30px;
}

.me-28 {
  margin-right: 28px;
}

.mb-25 {
  margin-bottom: 25px;
}

.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.me-22 {
  margin-right: 22px;
}

.ms-20 {
  margin-left: 20px;
}

.ms-10 {
  margin-left: 10px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pt-140 {
  padding-top: 140px;
}

.px-96 {
  padding-left: 96px;
  padding-right: 96px;
}

.pt-95 {
  padding-top: 95px;
}

.ps-90 {
  padding-left: 90px;
}

.py-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pe-75 {
  padding-right: 75px;
}

.py-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-60 {
  padding-bottom: 60px;
}

.ps-60 {
  padding-left: 60px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.pt-50 {
  padding-top: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pe-40 {
  padding-right: 40px;
}

.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-22 {
  padding-top: 22px;
  padding-bottom: 22px;
}

/*border*/
.border-white {
  border: 1px solid white;
}

.br-100 {
  border-radius: 100px;
}

.br-50 {
  border-radius: 50px;
}

/*line-height*/
.lh-30 {
  line-height: 30px;
}

.lh-25 {
  line-height: 25px;
}

.lh-20 {
  line-height: 20px;
}

/*maiin style*/

/*about*/
.about {
  z-index: 999;
}

.about-img {
  bottom: 18px;
  right: 68px;
  transform: rotate(75.75deg);
}

/*information*/
.speakers-one {
  bottom: 0;
  left: 0;
  z-index: 1;
}

.speakers-two {
  bottom: 0;
  left: 39px;
  z-index: 2;
}

.speakers-three {
  bottom: 0;
  left: 78px;
  z-index: 3;
}

.speakers-four {
  bottom: 0;
  left: 117px;
  z-index: 4;
}

/*keynote-speakers*/
/* Image */
.filter-bw {
  mix-blend-mode: luminosity;
}

.filter-bw img {
  height: 452px;
}

.speaker-subtitle {
  height: 60px;
}

.why-card {
  height: 289px;
}

.why-subtitle {
  max-width: 220px;
  width: 100%;
}

.why-img-one {
  bottom: 0;
  left: 22px;
}

.why-img-two {
  bottom: 0;
  left: 22px;
}

.why-img-three {
  bottom: 0;
  right: 22px;
}

.why-img-four {
  bottom: 0;
  right: 22px;
}

.feedback-card {
  width: 500px;
  height: 443px;
}

.prev-arrow {
  background-image: url(/images/arrow-left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 74px;
  height: 74px;
  margin-right: 12px;
}

.next-arrow {
  background-image: url(/images/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 74px;
  height: 74px;
  margin-left: 12px;
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: #fff;
}

.next-arrow:hover {
  background-image: url(/images/arrow-right-blue.svg);
}

.prev-arrow:hover {
  background-image: url(/images/arrow-left-blue.svg);
}

.feedback-slider .slick-slide {
  margin: 0 10px;
}

.countdown {
  font-variant-numeric: tabular-nums;
}

.register-img {
  z-index: -1;
}

.ticket-card {
  height: 494px;
}
